.footer{
    font-size: clamp(12px, 1vw, 14px);
    background-color: #121212;
}
.footer a{
    color: #dcdcdc;
}
.footer p{
    color: #fff;
}
/* footer - top */
.footer-inner{
    padding: 5% 0;
}
.footer-top{
    display: flex;
    gap: 10%;
}
.footer-list{
    line-height: 3;
}
/* footer - btm */
.footer-btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
width: 96px;
}
.footer-logo img{
    width: 100%;
    display: block;
}