.header {
    position: fixed;
  width: 100%;
  padding: 1%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 999;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aliceblue; */
}
.header-logo {
  width: 10%;
  /* overflow: hidden; */
}
.header-logo a img {
  width: 100%;
  display: block;
}
/* 메뉴 */
.nav {
  width: 50%;
  display: flex;
  /* background-color: antiquewhite; */
}
.menu-list {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 2%;
}
.menu-list li {
  width: calc(100% / 6);
  text-align: center;
  font-size: clamp(14px, 2vw, 18px);
}
.menu-list li a{
    position: relative;
    display: inline-block;
    /* font-weight: bold; */
}
.menu-list li a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0px;
    height: 2px;
    transition: all 0.3s;
    background-color: hsla(219.52, 74.12%, 33.33%, 1);
}
/* 메뉴 호버 */
.menu-list li a:hover{
    color: hsla(219.52, 74.12%, 33.33%, 1);
}
.menu-list li a:hover::after{
    width: 100%;
}
/* 언어 */
.lang a {
  display: block;
  padding: 5px 14px;
  border-radius: 30px;
  font-size: 12px;
  transition: all 0.3s;
  color: #fff;
  background-color: #121212;
}
.lang a:hover{
  background-color: #333;
}